** INFORMACION DEL PARTIDO UNIR **

** TENISTA NUMERO 1 **
First Name: {{ tenista1_first_name }}
Last Name: {{ tenista1_last_name }}
City: {{ tenista1_city }}
id: {{ tenista1_id }}

** TENISTA NUMERO 2 **
First Name: {{tenista2_first_name}}
Last Name: {{tenista2_last_name}}
City: {{tenista2_city}}
id: {{tenista2_id}}

Fecha: {{fecha_partido}}